# Use postgres/example user/password credentials

services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: inventory
      POSTGRES_INITDB_ARGS: '--encoding=UTF-8'
    ports:
      - "5433:5432"
